.ventana{
    background-color: rgb(255, 255, 255);
    width: 40%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 180px;
    border-radius: 22px;
    position: relative;
    left: 26%;
    top: 40%;
    display: none;
}
.close{
    position: absolute;
    right: 6px;
    top: 6px;
}
.superior{
    position: absolute;
    right: 10px;
    border-radius: 22px;
 
}
.titulo{
    position: absolute;
    color: white;
    left: 5cm;
    font-size: 60px;
    padding: 1px;
}
.h1{
    color: white;
    text-decoration-line: none;
}
.h1cont{
    background-color: rgb(18, 18, 83);
    border-radius: 10px;
    padding-left:2cm ;
}
.h1izq{
    font-size: 30px;
    text-decoration: none;
    color: rgb(18, 18, 83);
    
}
.super{
    background-color: rgb(18, 18, 83);
}
.izq{
    background-color: rgb(230, 226, 176);
    padding-right: 10px;
    padding-left: 10px;
}
.der{
    background-color: rgb(176, 182, 189);

}
.onclic{
    text-align: center;
    position: relative;
    left: 8.5cm;
    top: 5cm;
    width: 12cm;
    height: 3cm;
}
.contenedor{
    background-color: coral;
    text-align: center;    
    padding: auto;
    border-radius: 10px;
    height: 4cm;
}
.bot{
    background-color: rgb(230, 226, 176);
    font-size: 16px;
    width: 3cm;
    padding: 5px;
    color: rgb(18, 18, 83);
    border-radius: 5px;
}
.contlink{
    background-color: rgb(230, 226, 176);
    position: relative;
    text-align:center;
    left: 11.5cm;
    width: 6cm;
}
.h2{
    color:rgb(18, 18, 83) ;
}